.modal-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
}
.hide-modal {
    display: none;
}

.modal-dialog {
    background-color: rgb(84, 86, 88);
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-sizing: 0 4px 15px rgba(255, 255, 255, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    color: lightgray;
}

input {
    margin-bottom: 10px;
    padding: 0.5rem;
}

span {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: white;
}
